.git
.gitignore
.github
*.md
!README.md

server/target
server/.cpcache
server/node_modules
server/markdownbrain.db
server/.nrepl-port

obsidian-plugin
vault

Dockerfile
docker-compose*.yml
.dockerignore
.env*

*.log
*.zip
.DS_Store
