# MarkdownBrain

*.db
*.db-shm
*.db-wal
*.log
.nrepl-port
.cpcache/
.shadow-cljs/
node_modules/
target/
.DS_Store
resources/public/js/htmx.min.js
resources/public/css/app.css
markdownbrain.db
.lsp/
.clj-kondo/
vault/