<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}MarkdownBrain{% endblock %}</title>
  <meta name="description" content="{{ description|default:vault.name }}">
  <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="/frontend/css/frontend.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
  <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
</head>
<body>
  <div id="app">
    <header class="navbar">
      <div class="navbar-content px-4 md:px-8">
        <div class="navbar-left">
          <a href="/" class="navbar-logo">{{ vault.name|default:"MarkdownBrain" }}</a>
        </div>
        <div class="navbar-right">
          <small class="navbar-link">Powered by <a href="https://github.com/blackstorm/markdownbrain" target="_blank">MarkdownBrain</a></small>
        </div>
      </div>
    </header>
    {% block content %}{% endblock %}
  </div>
  <script src="/frontend/js/frontend.js"></script>
</body>
</html>
