<configuration>
    <property name="MDBRAIN_LOG_LEVEL" value="${MDBRAIN_LOG_LEVEL:-DEBUG}" />
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="mdbrain" level="${MDBRAIN_LOG_LEVEL}" />

    <logger name="org.sqlite" level="INFO" />
</configuration>
