{:source-paths ["../src"]  ; 复用服务端的 src 目录

 :dependencies
 [[cljs-http "0.1.48"]
  [com.cognitect/transit-cljs "0.8.280"]]

 :builds
 {:plugin
  {:target :node-library
   :output-to "sync.js"
   :exports {:sync markdownbrain-plugin.sync/sync-file
             :init markdownbrain-plugin.sync/init
             :destroy markdownbrain-plugin.sync/destroy}}}}
