<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 设置根日志级别为 INFO -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- 设置应用日志级别为 DEBUG -->
    <logger name="markdownbrain" level="DEBUG" />

    <!-- 设置第三方库日志级别 -->
    <logger name="org.eclipse.jetty" level="INFO" />
    <logger name="org.sqlite" level="INFO" />
</configuration>
