<!doctype html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}" />
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon.ico" />
        <link rel="stylesheet" href="/static/app.css" />
    </head>
    <body>
        <div id="app" class="h-screen flex flex-col">
            <header
                class="flex flex-row items-center gap-6 px-4 py-3 md:px-8 border-b bg-white"
            >
                <h1 class="font-medium">
                    <a href="/">{{ name }}</a>
                </h1>
            </header>
            <div class="flex grow overflow-x-auto overflow-y-hidden">
              <div id="notes" class="flex grow divide-x">
                    {% for note in notes %} 
                        {% include "note.html" with note=note %}
                    {% endfor %}
                </div>
            </div>

        </div>
        <script src="/static/htmx.min.js"></script>
        {% include "js.html" %}
        <script src="/static/app.js"></script>
    </body>
</html>
