<script>
window.NOTE_WIDTH = 625;

function noteWindowSizeAdjust() {
  const windowWidth = window.innerWidth;
  const notes = document.querySelector("#notes");
  const allNotes = notes.querySelectorAll(".note");

  // For mobile view
  if (windowWidth <= NOTE_WIDTH) {
    for (let i = 0; i < allNotes.length - 1; i++) {
      allNotes[i].classList.add("hidden");
    }
  } else {
    for (let i = 0; i < allNotes.length - 1; i++) {
      allNotes[i].classList.remove("hidden");
    }
  }

  for (let i = 0; i < allNotes.length - 1; i++) {
    const note = allNotes[i];
    note.style.left = i * 75 + "px";
    note.style.right = "-585px";
  }

  const allNotesWidth = allNotes.length * NOTE_WIDTH;
  notes.style.width = Math.max(allNotesWidth, windowWidth) + "px";
  
  // Scroll to the end of the notes
  notes.parentNode.scrollTo({
    top: 0,
    left: allNotesWidth,
    behavior: "smooth",
  })
}

document.addEventListener('DOMContentLoaded', function() {
  noteWindowSizeAdjust();
});

window.addEventListener('resize', noteWindowSizeAdjust);
</script>