<div
  class="note grow shrink-0 overflow-y-auto top-0 sticky w-full md:w-[625px] md:max-w-[625px] bg-white"
  id="note-{{ note.ID }}"
>
  <article class="p-4 md:p-8 prose">
    <h1>{{ note.Title }}</h1>
    {{ note.HTMLContent | safe }}
    <p class="text-xs text-gray-400">Last updated: {{ note.LastUpdatedAt }}.</p>
  </article>

  {% if note.LinkToThis %}
  <div class="p-4 mt-4 md:mt-8">
    <div class="p-2 py-4 bg-gray-50 rounded-lg">
      <h2 class="px-2 text-lg font-bold text-gray-500">Link to this note</h2>
      <div class="grid grid-cols-2 gap-2">
        {% for n in note.LinkToThis %}
        <div class="p-2 hover:bg-gray-100 rounded-md">
          <a
            href="/{{ n.ID }}"
            hx-get="/{{ n.ID }}"
            hx-headers='{"X-From-Note-Id": "{{note.ID}}"}'
            hx-target="#note-{{ note.ID }}"
            hx-swap="afterend"
            class="note-link"
          >
            <p class="text-xs mb-2">{{ n.Title }}</p>
            <p class="text-xs text-gray-500">{{ n.Description }}</p>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
